[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[color "diff"]
	meta = yellow
[core]
	pager = less -R
	quotepath = false # git statusなどで日本語ファイル名をエンコードせずに表示してくれる
	symlinks = true
	editor = vim
[diff]
	algorithm = histogram
[init]
    # git init 時のデフォルトブランチ名を main に設定する
	defaultBranch = main
[include]
	# デフォルトの設定を読み込む
	path = ~/.gitconfig.local

# --- Conditional Includes ---
# 例: ~/work/ ディレクトリ配下の場合は、会社用の設定を読み込む
# "gitdir:" のパスはご自身の作業ディレクトリ構造に合わせて調整してください。
# 末尾の "/" が重要で、そのディレクトリ配下全てを対象とします。
[includeIf "gitdir:~/programs/second/"]
	# シンボリックリンクの場合)
	# path = ~/.gitconfig.second
	# もしシンボリックリンクを貼らずdotfiles内を直接指定するなら:
	path = ~/dotfiles/.gitconfig.second

# 他にも条件を追加可能
# [includeIf "gitdir:~/personal_projects/special_project/"]
#    path = ~/.gitconfig-special-personal

# --- End Conditional Includes ---

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	trustExitCode = true
[commit]
	template = ~/.gitmessage
[grep]
	lineNumber = true
	column = true
[pager]
	# LESSを設定するとgit branch や stash が less や more っぽい pager で表示されるのでそれを回避する
	# SEE : https://qiita.com/furu8ma/items/9cf4680171f06c1f95bc
	branch = false
	stash = false
[alias]
	br = branch
	co = checkout
	cm = commit
	cp = cherry-pick
	st = status
	ts = status
	ss = stash
	pl = pull
	ps = push
	wk = worktree
	wt = worktree
	ww = worktree
[push]
	autoSetupRemote = true
[pull]
	rebase = false
	autoStash = true
[merge]
	conflictStyle = zdiff3
