.gitconfig.local
.gitconfig.second

# 考え中フォルダ
ideas/

# もとのファイル退避用フォルダ
stashes/

# 環境ごとに内容を変える為のフォルダ
**/private/*
!**/private/.gitkeep

.ssh/config.secret

# .gitignore_global では除外しているが dotfiles リポジトリの .vscode は git管理する
!.vscode/settings.json

.env
bash/daily/.cache/
