[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[core]
	pager = less -R
	quotepath = false # git statusなどで日本語ファイル名をエンコードせずに表示してくれる
	symlinks = true
[diff]
	algorithm = histogram
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	trustExitCode = true
[commit]
	template = ~/.gitmessage
[grep]
	lineNumber = true
	column = true
[pager]
	# LESSを設定するとgit branch や stash が less や more っぽい pager で表示されるのでそれを回避する
	# SEE : https://qiita.com/furu8ma/items/9cf4680171f06c1f95bc
	branch = false
	stash = false
[alias]
	br = branch
	co = checkout
	cm = commit
	cp = cherry-pick
	st = status
	ts = status
	ss = stash
	pl = pull
	ps = push
[push]
	autoSetupRemote = true
